[submodule "411-MTP"]
	path = 411-MTP
	url = https://github.com/lemasyma/411-MTP
[submodule "expm-graph"]
	path = expm-graph
	url = https://github.com/lemasyma/expm-graph
[submodule "agency-jekyll-theme"]
	path = agency-jekyll-theme
	url = https://github.com/y7kim/agency-jekyll-theme
[submodule "411W14"]
	path = 411W14
	url = https://github.com/Dominique57/411W14
[submodule "uProject"]
	path = uProject
	url = https://github.com/lemasyma/uProject
